@{
    ViewBag.Title = "Home Page";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
@if (Request.IsAuthenticated)
{
    <div class="col-md-12 mainViewContainer">
        <div ui-view></div>
    </div>
}
