@{
    ViewBag.Title = "Sccident management system";
}

<ol class="breadcrumb">
    @*<li><a href="#">Accident</a></li>*@
</ol>
@if (Request.IsAuthenticated)
{
    <div class="col-md-12 mainViewContainer">
        <div ui-view></div>
    </div>
}
